/* this is the styling page  */

header {
    margin-top: 15px;
    padding:15px;
}

h1 {
    font-size: 30px; 
    font-family:'Courier New', Courier, monospace;
    padding: 30px;
    text-align: center;
    background-color:cornflowerblue;
    color: white;
    border-radius:15px;
}



form {
    /* grid-column: 2 / 3;
    grid-row: 1 / 2; */
    display: grid;
    grid-template-columns: repeat(3,33.3%);
    height: 50vh;  
    grid-template-rows: repeat(12,8.4%);
}

 .btn-group{
    padding:15px;
    margin-left:10px;
}

#movieSection{
    grid-column: 2 / 3;
    grid-row: 1 / 2; 
}

#countryName{
    align-items: center;
    grid-column: 2 / 3;
    grid-row: 3 / 4;
}

#serviceName{
    align-items: right;
    grid-column: 2 / 3;
    grid-row: 5 / 6;

}

#search-button {
    grid-row: 7/8;
    grid-column: 2/3;
    /* width:5vw; 
    height: 3vw;  */
    padding: ;
    text-align: center;
}

.dropdown {
    display:flex; 
}

.country-button {
    background-color: white; 
    padding: 2px; 
    margin:10px; 
    align-items: center; 

}

#popular-releases {
    display:grid; 
    grid-template-columns: repeat(3,33%);
    grid-template-rows: repeat(3,33%);
    height: 100vh;
    margin-left:20px;
    padding: 5px; 
    text-align: center; 
    margin-bottom: 10px; 

}

.poster {
    width:30vw;
    height: 40vw; 
    align-items: center;
    margin: 10px; 
}

#posterTitle {
    text-align: center;
    padding:15px; 
}

/*Desktop*/
@media (min-width: 1025px){
    #popular-releases{
        grid-template-columns: 1fr 1fr 1fr;
    }
}

/*Tablet*/
@media (min-width: 481px) and (max-width:1024px){
    #popular-releases{
        grid-template-columns: 1fr 1fr;
    }  
}

/*Mobile*/
@media(max-width: 480px){
    #popular-releases{
        grid-template-columns: 1fr;
    }  
}